<h1 class="title"><%= t('.blog_title') %></h1>
<p class="sub-title"><%= t('.blog_subtitle') %></p>

<figure>
  <%= image_tag("hipsters.jpeg", width: "800px") %>
  <figcaption><%= t('.blog_figcaption') %></figcaption>
</figure>


<p class="credits"><%= t('.blog_author') %><span class="float-right"><%= t('.blog_date') %></span></p>
<article>
  <p><%= t('.blog_para1') %></p>

  <p><%= t('.blog_para2') %></p>

  <p><%= t('.blog_para3') %></p>

  <h3><%= t('.blog_subtitle2') %></h3>

  <p><%= t('.blog_para4') %></p>

  <p><%= t('.blog_para5') %></p>

  <p><%= t('.blog_para6') %></p>
</article>